#home{
    text-decoration:none;color:black;border-radius:5px;font-size:18px;padding:3px 7px 5px 5px;
}
#home:hover{    
    background-color:#ccff99;
}
#tool{
    text-decoration:none;color:black;border-radius:5px;font-size:18px;padding:3px 7px 5px 5px;
}
#tool:hover{    
    background-color:#ccff99;
}
@font-face{
    font-family:MC;
    /*src: url(font/Minecraft.ttf);*/
    src:url('https://i-81.lanzouk.com:446/08192000132393558bb/2023/08/19/64563e6acd8a78c5a26c99715470724a.ttf?st=zDHK6djA7qVxckCS_lQT8Q&e=1692450764&b=BRoKY1c5BGRZbwAkAzIPbVNyARwARFN7BCMAeQVk&fi=132393558&pid=183-18-34-137&up=2&mp=0&co=0');
}
body{
    font-family:MC;
    width:100%;
    height:100%;
}
#line{
    background-color:#ededed;width:100%;height:0.5%;
}
@media only screen and (max-width : 725px){
#en{
    display:none;
}
#tool{
    display:none;
}
}
#News{
    display: inline-block;
    height:300px;width:30%;
    background-color:#e5e4e2;
    border:2px solid #d1d0ce;
    border-radius:5px;
    overflow:hidden;
}
#Ti{
    display: inline-block;
    height:300px;width:30%;
    background-color:#e0ffff;
    border:2px solid #00ffff;
    border-radius:5px;
    overflow:hidden;
}
#DownLoad{
    display: inline-block;
    height:300px;width:30%;
    background-color:#C3FDB8;
    border:2px solid #55fb17;
    border-radius:5px;
    overflow:hidden;
}
#jt{
    height:27px;
    width:27px;
}
#mode{
    height:15%;
    width:95%;
    background-color:#ededed;
    border:1px solid black;
    border-radius:5px;
    box-shadow:5px 5px 5px #272727;
}
